@model List<TopTrending>

<div class="col-lg-6 grid-margin stretch-card">
    <div  class="card">
        <div class="card-body">
            <h4  class="card-title">Sliders Table</h4>
            <div class="table-responsive">
                                <td>
                                    <a asp-controller="toptrending" asp-action="create" class="btn btn-primary">Create</a>
                                </td>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Content</th>
                            <th>SubText</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Content</td>
                                <td>@item.SubText</td>
                                <td>@item.Description</td>
                                <td>@item.ImgUrl</td>
                        <td>
                            <a asp-controller="toptrending" asp-action="update" asp-route-id="@item.Id" class="btn btn-primary">Update </a>
                        </td>
                        <td>
                            <a asp-controller="toptrending" asp-action="delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
                        </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>